<!DOCTYPE html>
<!-- Coding by CodingLab | www.codinglabweb.com -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!----======== CSS ======== -->
    <!-- **********navbar css link********** -->
    <link rel="stylesheet" href="../styles/navbar.css" />

    <!-- **********profile page css link********** -->
    <link rel="stylesheet" href="../styles/profile.css" />

    <!-- **********buttons css link********** -->
    <link rel="stylesheet" href="../styles/button.css" />

    <!----===== Boxicons CSS ===== -->
    <link
      href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css"
      rel="stylesheet"
    />

    <title>Profile</title>
  </head>

  <body>
    <nav class="sidebar close">
      <header>
        <div class="image-text">
          <span class="image">
            <img src="../images/profile.jpg" alt="" />
          </span>

          <div class="text logo-text">
            <span class="name">Your Name</span>
            <span class="profession">Welcome !</span>
          </div>
        </div>

        <i class="bx bx-chevron-right toggle"></i>
      </header>

      <div class="menu-bar">
        <div class="menu">
          <li class="search-box">
            <i class="bx bx-search icon"></i>
            <input type="text" placeholder="Search..." />
          </li>

          <ul class="menu-links">
            <li class="nav-link">
              <a href="home.html">
                <i class="bx bx-home-alt icon"></i>
                <span class="text nav-text">Home</span>
              </a>
            </li>

            <li class="nav-link">
              <a href="quiz-page.html">
                <i class="bx bx-check-square icon"></i>
                <span class="text nav-text">Quests</span>
              </a>
            </li>

            <li class="nav-link">
              <a href="my-quiz.html">
                <i class="bx bx-user-check icon"></i>
                <span class="text nav-text">My Quests</span>
              </a>
            </li>

            <li class="nav-link">
              <a href="quiz_generator.html">
                <i class="bx bx-extension icon"></i>
                <span class="text nav-text">Quest Generator</span>
              </a>
            </li>

            <li class="nav-link">
              <a href="help.html">
                <i class="bx bx-help-circle icon"></i>
                <span class="text nav-text">Help</span>
              </a>
            </li>

            <li class="nav-link">
              <a href="#">
                <i class="bx bx-align-justify icon"></i>
                <span class="text nav-text">T&Cs</span>
              </a>
            </li>

            <li class="nav-link">
              <a href="wallet.html">
                <i class="bx bx-wallet icon"></i>
                <span class="text nav-text">Wallets</span>
              </a>
            </li>

            <li class="nav-link">
              <a href="profile.html">
                <i class="bx bx-user icon"></i>
                <span class="text nav-text">Profile</span>
              </a>
            </li>
          </ul>
        </div>

        <div class="bottom-content">
          <li class="">
            <a href="index.html">
              <i class="bx bx-log-out icon"></i>
              <span class="text nav-text">Logout</span>
            </a>
          </li>

          <li class="mode">
            <div class="sun-moon">
              <i class="bx bx-moon icon moon"></i>
              <i class="bx bx-sun icon sun"></i>
            </div>
            <span class="mode-text text">Dark mode</span>

            <div class="toggle-switch">
              <span class="switch"></span>
            </div>
          </li>
        </div>
      </div>
    </nav>

    <section class="home">
      <div class="heading">Hello Chetna!</div>

      <div class="top-container">
        <p>Total Earnings</p>
        <p>US$0.00</p>
        <table>
          <tr>
            <th>Current balance</th>
            <td>US$0.07890</td>
          </tr>
          <tr>
            <th>Withdrawn</th>
            <td>US$0.00</td>
          </tr>
        </table>
      </div>

      <div class="option">
        <button class="btn" id="profile-btn">Profile</button>
        <button class="btn" id="account-btn">Account Settings</button>
      </div>

      <div class="profile-container">
        <div class="progress-box">
          <div class="img">
            <img src="../images/profile.jpg" alt="profile-pic" />
          </div>
          <div class="info">
            <p>Your Name</p>
            <div class="level">
              <div class="level-img">
                <img src="../images/baby-level.svg" alt="baby-level-pic" />
                Baby Stacks
              </div>
              <div class="exp"><span>Exp</span>50</div>
            </div>
            <div class="level-bar">
              <div class="left">1</div>
              <div class="right">
                <div class="fill"></div>
              </div>
            </div>
            <div class="points"><span>50</span>/2000 exp to next level</div>
          </div>
          <div class="quest">
            0 Quest participated <i class="bx bx-check-square icon"></i>
          </div>
        </div>

        <div class="level-rewards">
          <div class="heading">Level Rewards</div>
          <div class="rewards-container">
            <div class="rewards-item" id="current-level">
              <div class="txt">Baby Stacks</div>
              <div class="bar">1</div>
            </div>
            <div class="rewards-item">
              <div class="txt"></div>
              <div class="bar">2</div>
            </div>
            <div class="rewards-item">
              <div class="txt">Rookie Stackie</div>
              <div class="bar">3</div>
            </div>
            <div class="rewards-item">
              <div class="txt"></div>
              <div class="bar">4<span>$5</span></div>
            </div>
            <div class="rewards-item">
              <div class="txt"></div>
              <div class="bar">5<span>$20</span></div>
            </div>
            <div class="rewards-item">
              <div class="txt">Veteran Stackie</div>
              <div class="bar">6</div>
            </div>
            <div class="rewards-item">
              <div class="txt"></div>
              <div class="bar">7<span>$20</span></div>
            </div>
            <div class="rewards-item">
              <div class="txt">Expert Stackie</div>
              <div class="bar">8</div>
            </div>
            <div class="rewards-item">
              <div class="txt"></div>
              <div class="bar">9</div>
            </div>
            <div class="rewards-item">
              <div class="txt">Peak Stackie</div>
              <div class="bar">10<span>$100</span></div>
            </div>
          </div>
        </div>

        <div class="earn-exp">
          <div class="heading">Ways to earn exp</div>
          <div class="exp-item">Submit a quest <span>100 exp</span></div>
          <div class="exp-item">
            Approved Quest submission <span>500 exp</span>
          </div>
          <div class="exp-item">
            Rewarded Quest submission <span>500 exp</span>
          </div>
          <div class="exp-item">
            Complete a Lesson video <span>50-200 exp</span>
          </div>
          <div class="exp-item">
            Attend an Event on StackUp platform <span>200 exp</span>
          </div>
        </div>

        <div class="recent">
          <div class="heading">Recent activity</div>
          <div class="recent-item">
            Joined Quest - <span>JS Conditions and Loops</span>
          </div>
          <div class="recent-item">
            Joined Quest - <span>JS Conditions and Loops</span>
          </div>
          <div class="recent-item">
            Joined Quest - <span>JS Conditions and Loops</span>
          </div>
          <div class="recent-item">
            Joined Quest - <span>JS Conditions and Loops</span>
          </div>
        </div>
      </div>

      <div class="account-container">
        <p><span>Date joined : </span>31 march, 2022</p>
        <form action="" method="post">
          <label for="name">Name</label>
          <input type="text" id="name" />
          <label for="email">Email</label>
          <input type="email" name="" id="email" />
          <label for="password">Change Password</label>
          <input
            type="password"
            name="password"
            id=""
            placeholder="old password"
          />
          <input
            type="password"
            name="newpass"
            id=""
            placeholder="new password"
          />
          <input type="password" name="" id="" placeholder="confirm password" />
          <label for="phone">Phone</label>
          <input type="number" name="phone" id="" />
          <label for="nationality">Nationality</label>
          <input type="text" name="nationality" />
          <label for="country-of-residence">Country of residence</label>
          <input type="text" name="country-of-residence" />
          <label for="birth-year">Birth Year</label>
          <input type="number" name="birth-year" id="" />
          <label for="mail-check">Mailing List</label>
          <div class="mail-check">
            <input type="checkbox" name="mail-check" id="checkbox" />
            <div class="p">
              <strong>
                I would like to stay up to date with new campaigns and quests
                delivered to my email.
              </strong>
              <br />
              If you are not receiving the emails please head to your spam
              folder and mark the email from StackUp as “Report Not Spam”.
            </div>
          </div>
        </form>
        <button class="btn">Update Profile</button>
        <button class="btn">Discard Changes</button>
      </div>
    </section>

    <script src="../script/profile.js"></script>

    <script src="../script/navbar.js"></script>
  </body>
</html>
