<!DOCTYPE html>
<!-- Coding by CodingLab | www.codinglabweb.com -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!----======== CSS ======== -->
    <link rel="stylesheet" href="../styles/navbar.css" />
    <link rel="stylesheet" href="../styles/quiz_info.css" />
    <link rel="stylesheet" href="../styles/button.css" />

    <!----===== Boxicons CSS ===== -->
    <link
      href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css"
      rel="stylesheet"
    />

    <!--<title>Dashboard Sidebar Menu</title>-->
  </head>
  <body>
    <nav class="sidebar close">
      <header>
        <div class="image-text">
          <span class="image">
            <img src="../images/profile.jpg" alt="" />
          </span>

          <div class="text logo-text">
            <span class="name">Your Name</span>
            <span class="profession">Welcome !</span>
          </div>
        </div>

        <i class="bx bx-chevron-right toggle"></i>
      </header>

      <div class="menu-bar">
        <div class="menu">
          <li class="search-box">
            <i class="bx bx-search icon"></i>
            <input type="text" placeholder="Search..." />
          </li>

          <ul class="menu-links">
            <li class="nav-link">
              <a href="home.html">
                <i class="bx bx-home-alt icon"></i>
                <span class="text nav-text">Home</span>
              </a>
            </li>

            <li class="nav-link">
              <a href="quiz-page.html">
                <i class="bx bx-check-square icon"></i>
                <span class="text nav-text">Quests</span>
              </a>
            </li>

            <li class="nav-link">
              <a href="my-quiz.html">
                <i class="bx bx-user-check icon"></i>
                <span class="text nav-text">My Quests</span>
              </a>
            </li>

            <li class="nav-link">
              <a href="#">
                <i class="bx bx-help-circle icon"></i>
                <span class="text nav-text">Help</span>
              </a>
            </li>

            <li class="nav-link">
              <a href="#">
                <i class="bx bx-align-justify icon"></i>
                <span class="text nav-text">T&Cs</span>
              </a>
            </li>

            <li class="nav-link">
              <a href="#">
                <i class="bx bx-wallet icon"></i>
                <span class="text nav-text">Wallets</span>
              </a>
            </li>
          </ul>
        </div>

        <div class="bottom-content">
          <li class="">
            <a href="#">
              <i class="bx bx-log-out icon"></i>
              <span class="text nav-text">Logout</span>
            </a>
          </li>

          <li class="mode">
            <div class="sun-moon">
              <i class="bx bx-moon icon moon"></i>
              <i class="bx bx-sun icon sun"></i>
            </div>
            <span class="mode-text text">Dark mode</span>

            <div class="toggle-switch">
              <span class="switch"></span>
            </div>
          </li>
        </div>
      </div>
    </nav>

    <section class="home">
      <div class="heading"><a href="quiz-page.html">&#8249;Back</a></div>
      <div class="topic-head">
        <h2>(Advanced) Quest 11: Building and deploying a dApp!</h2>
        <h3>Explore the world of Algorand</h3>
      </div>
      <div class="box-container">
        <div class="first-box">
          <p>Availability<span class="box-elements"> Available</span></p>
          <p>Quest Master</p>
          <p>Est. Time<span> 2 hour(s)</span></p>
          <p>Your Status<span class="box-elements"> Not Joined</span></p>
        </div>
        <div class="second-box">
          <p>Reward<span> $30</span></p>
          <p>No. of Rewards<span> 100</span></p>
        </div>
        <div class="third-box">
          <p>Start date<span>10 Jun 2022, 9:30 am</span></p>
          <p>Deadline <span>30 Jun 2022, 9:30 am</span></p>
          <p>Review by <span> 09 Jul 2022, 9:30 am</span></p>
          <p>Created<span> 03 Jun 2022, 8:46 am</span></p>
        </div>
      </div>
      <a href="quiz.html" id="quiz-btn">
        <button class="btn">Start Quiz</button>
      </a>
      <div class="content-head">
        <h3>Introduction</h3>
      </div>
      <div class="content-box">
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio
          excepturi dolores blanditiis qui rem ea eos sapiente, animi quaerat
          minus numquam rerum. Nisi delectus culpa numquam. Error iste voluptas
          ad, commodi perspiciatis ipsam doloremque fugit? Accusantium saepe
          odio exercitationem ea voluptate optio, cum autem veniam est modi, ut
          id nulla. Nemo soluta cumque libero, itaque perspiciatis repellendus.
          Distinctio dolorem molestias dolor fuga sed quaerat veniam cupiditate
          optio consequatur esse, dolores error autem harum voluptatibus dolorum
          eaque dicta in debitis modi mollitia. Maiores ipsam perferendis cum
          itaque repellendus inventore, qui quis aut laboriosam labore odit
          officia! Provident earum nihil facere obcaecati?
        </p>
      </div>
    </section>

    <script src="../script/navbar.js"></script>
  </body>
</html>
