:root{
    /* ===== Colors ===== */
    --body-color: #F5F5F5;
    --sidebar-color: #FFF;
    --white-color: #FFF;
    --primary-color: #4A3FC8;
    --primary-color-light: #cdc8ff;
    --toggle-color: #4A3FC8;
    --text-color: #2d2d2d;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

.home .heading{
    background-color: var(--sidebar-color);
}

.main-container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    /* border: 2px solid red; */
    color: var(--text-color);
    margin: 30px 0;
}

.main-container .left{
    width: 40%;
    /* border: 2px solid blue; */
    padding: 0 10px;
}

.left .guide{
    background-image:  linear-gradient(#4e42ce95, #aea6d17f);
    width: 100%;
    display: flex;
    background-color: var(--sidebar-color);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.guide .info{
    width: 65%;
    padding: 20px;
}

.guide .info :is(p, button){
    margin: 10px 0;
}

.guide .info p:first-child , .cards-container .cards p:first-child{
    font-size: 2rem;
    display: flex;
    align-items: center;
    color: var(--primary-color);
    font-weight: 500;
}


.guide .img {
    width: 36%;
    display: flex;
    align-items: center;
}
.guide img{
    width: 100%;
}

a{
    color: var(--white-color);
}


.guide:hover img{
    transform: scale(1.1);
}

.main-container .right{
    width: 40%;
    padding: 0 10px;
    /* border: 2px solid black; */
}

.right .updates{
    background-color: var(--sidebar-color);
    border-radius: 20px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    padding: 25px;
}

.updates .header{
    width: 100%;
    font-size: 2rem;
    color: var(--primary-color);
    margin-bottom: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.main-container  i{
    margin-right: 10px;
}

.updates .updates-info{
    padding: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid gray;
    margin-bottom: 15px;
}


.right .join{
    font-size: 1.3rem;
    margin-top: 30px;
    background-color: var(--sidebar-color);
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
}
.join p{
    display: flex;
    align-items: center;
    justify-content: center;
}

.join p br{
    display: none;
}

.join .img{
    padding: 5px;
    width: 30px;
    height: 30px;
    display: inline-block;
    background-color: var(--primary-color);
    border-radius: 100%;
    margin: 0 5px;
}

.join p a:first-child{
    margin-left: 10px;
}

.join .img img{
    width: 100%;
    display: block;
    margin: auto;
}

.join .img:hover img{
    transform: scale(1.1);
}

.updates .updates-info:last-child{
    border-bottom: none;
}

.cards-container .top{
    font-size: 1.5rem;
    color: var(--primary-color);
    font-weight: 500;
    margin-top: 50px;
}

.cards-container .cards{
    padding: 20px;
    background-image:  linear-gradient(#4e42ce95, #aea6d17f);
    width: 100%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 10px;
}

.cards p{
    margin: 10px 0;
}

.cards p:nth-child(2){
    font-weight: 500;
    font-size: 1.2rem;
}

.guide:hover, .cards:hover{
    background-color: var(--sidebar-color);
    background-image: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}


body.dark .guide .info p:first-child, body.dark .updates .header, body.dark .cards-container .top{
    color: var(--text-color);
}

body.dark :is(.info p:first-child, .header, .top, .cards p:first-child){
    color: var(--text-color);
}

#explore{
    display: block;
}

.main-container .heading{
    background-color: var(--body-color);
    padding: 20px 0;
    text-align: center;
}

#explore .cards{
    width: 350px;
    position: relative;
    margin: 10px;
}

#explore .cards p:nth-child(2){
    font-weight: normal;
    font-size: 1rem;
}

#explore img{
    width: 90px;
    position: absolute;
    bottom: 5px;
    right: 5px;
    /* opacity: 0.5; */
}

.cards:hover img{
    transform: scale(1.1);
} 

#explore .cards-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@media screen and (max-width: 900px) {
    .main-container .left, .main-container .right{
        width: 50%;
    }

    .left .guide{
        display: inline-block;
        position: relative;
    }

    .guide .info{
        width: auto;
        padding: 15px;
    }

    .guide .img {
        width: 100px;
        position: absolute;
       bottom: 5px;
       right: 5px;
    }
}

@media screen and (max-width: 800px) {
    .guide .info p:first-child{
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 650px) {
    .main-container{
        flex-direction: column;
        width: 90%;
        margin: auto;
    }

    .main-container .left, .main-container .right{
        width: 100%;
        margin-top: 20px;
    }
}

@media screen and (max-width: 550px) {
    .home > .heading{
        font-size: 1.3rem;
        padding: 10px;
        padding-left: 20px;
    }
    .main-container{
        width: 98%;
    }
    .right .join{
        font-size: 1rem;
        padding: 10px;
    }

    .updates .header{
        font-size: 1.3rem;
    }

    .join p a:first-child{
        margin-left: 0;
    }

    .join .img{
        margin-top: 5px;
    }
    
    .join p br{
        display: block;
    }

    .join p{
        display: block;
    }

    #explore img{
        width: 70px;
    }

    .right .updates{
        padding: 15px 10px;
    }

    .updates .updates-info{
        padding: 5px;
        padding-bottom: 15px;
    }

}

@media screen and (max-width: 400px) {
    .main-container img{
        display: none;
    }   

}