:root{
  /* ===== Colors ===== */
  --body-color: #F5F5F5;
  --sidebar-color: #FFF;
  --white-color: #FFF;
  --primary-color: #4A3FC8;
  --primary-color-light: #cdc8ff;
  --toggle-color: #4A3FC8;
  --text-color: #2d2d2d;

  /* ====== Transition ====== */
  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;
}

.home .heading{
  background-color: var(--sidebar-color);
}

.main{
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  /* border: 2px solid red; */
  padding: 20px;
  color: var(--text-color);
  font-size: .9rem;
  background-image:  linear-gradient(#4e42ce95, #aea6d17f);
}

input {
  margin-bottom: 10px;
  padding: 5px 10px;
  border: 1px solid var(--primary-color-light);
  outline-color: var(--primary-color);
  border-radius: 5px;
  color: inherit;
  background-color: var(--sidebar-color);
}
button{
  width: 200px;
  margin: 10px auto;
}

.addQuestions{
  background-color: var(--sidebar-color);
  padding: 20px;
  border-radius: 10px;
  width: 500px;
  margin: 20px;
  /* background-image:  linear-gradient(#4e42ce95, #aea6d17f); */
  background-color: var(--sidebar-color);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  display: flex;
  flex-direction: column;
}

.info {
  text-align: center;
  /* background-image:  linear-gradient(#4e42ce95, #aea6d17f); */
  background-color: var(--sidebar-color);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.info .buttons{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.info li {
  list-style-type: none;
  font-size: 1.2rem;
  margin: 10px 0;
}

/* .info button {
  margin: 30px 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
} */

.questionsWrapper div {
  display: none;
  width: 500px;
  background-image:  linear-gradient(#4e42ce95, #aea6d17f);
  background-color: var(--sidebar-color);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  padding: 20px;
  border-radius: 10px;
  /* position: absolute; */
}

.questionsWrapper div.is-active {
  display: block;
}

.questionsWrapper li{
  padding: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid var(--white-color);
  word-break: break-all;
  /* border-radius: 10px; */
}

.questionDiv {
  margin: 20px auto;
  text-align: center;
  width: 100%;
}

.questionDiv li {
  list-style-type: none;
  padding: 12px 0;
}

.questionDiv li.correct,
.questionDiv li.wrong {
  cursor: pointer;
}

.answersCorrect {
  text-align: center;
}

.nextButton {
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  background-color: var(--white-color);
  transition: var(--tran-05);
  border-radius: 10px;
}

.nextButton:hover{
  background-color: var(--primary-color);
  color: var(--white-color);
}

.my-quiz{
  margin: 30px 0;
  padding: 10px;
  color: var(--text-color);
}

.my-quiz p{
  text-align: center;
  /* color: var(--text-color); */
}

.quiz-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.my-quiz .heading{
  background-color: transparent;
  text-align: center;
  padding: 10px;
}

@media screen and (max-width: 750px) {
  .home .heading{
    font-size: 1.3rem;
    padding: 10px 20px;
  }
  .main{
    padding: 10px;
  }

  .addQuestions{
    width: 100%;
    margin: 20px 0;
    padding: 20px 10px;
  }

  .info{
    width: 100%;
    margin: 20px 0;
    padding: 5px;
  }

  button{
    margin: 5px;
    padding: 5px 0;
  }

  .questionsWrapper div{
    width: 100%;
    padding: 10px;
  }
}